*.su
*.s
*.map
*.o
*.a
*.lds
*.bin
*.dep
*.srec
*.app
*.gz
.*depend*
include/generated/
include/config.h
include/autoconf.mk
u-boot
u-boot.lds
u-boot.map
tools/mkimage
tools/dumpimage
tools/mkenvimage
tools/gen_eth_addr
tools/envcrc
tools/bmp_logo
tools/img2srec
tools/inca-swap-bytes
